.Titulo-2 {
    opacity: 0.9;
    padding: 100px 0 0 20px;
    font-size: 30px;
    color: #344D67;

}

.Aviso {
    width: 95%;
    height: 60px;
    background-color: #6ECCAF;
    color: #344D67;
    border-radius: 5px;
    font-weight: 500;
    margin-left: 40px;
    font-size: 18px;
}


.Filtro-Respon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #6DCCAB;
    background-color: #334c66;
    width: 80%;
    height: 60px;
    border-radius: 7px;
    margin-left: 50px;

}

.Filter-Icon {
    border: none;
}


.Filter-Icon:active {
    border: 1px solid #6DCCAB;
    background-color: #344D67;
}

.formulario2 {
    display: flex;
    align-items: center;

    justify-content: center;
    margin
}

@media(min-width:800px) {


    .Titulo-2 {
        display: block;
    }

    .Tarjetas-Completas {
        margin-top: 50px;
    }

    .Filter-Icon {
        background-color: #344D67;
    }

    .Tarjetas-Completas {
        margin-top: 50px;
    }

}


@media(max-width:810px) {
    .Titulo-2 {
        display: none;
    }

    .Tarjetas-Completas {
        margin-top: 50px;
    }

    .Filter-Icon {
        background-color: #344D67;
    }

    .Filter-Icon:hover {
        background-color: #344D67;
    }

}